@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 53);
}
.container{
    background-image: linear-gradient(40deg, #fc0076, #e44800);
    width: 310px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 11px 17px 22px 0;
}
.relogio{
    background-color: rgb(29, 29, 29);
    width: 300px;
    height: 150px;
    border-radius: 20px ;
   /*  box-shadow: 11px 17px 22px 0;
   border: 5px solid;
    border-image: linear-gradient(40deg, #fc0076, #e44800) ;
    border-image-slice: 1;*/

}
.relogio>.contador{
    background-color: none;
    color: rgb(255, 255, 255);
    margin: 6px;
    text-align: center;
    
}
span{
    font-weight: 300;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.teclas{
   display: flex;
   justify-content: space-between;
    margin: 30px 50px;
}
.teclas>button{
   display: block;
   background: none;
   border: 1px;
   outline: inherit;
   cursor: pointer;
   height: 40px;
   width: 50px;
   border-radius: 2px;
   color: rgb(255, 255, 255);
   font-size: 30px;
   text-align: center;

}

button:hover{
    transform: scale(1.2);
    transition: 0.2s;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #fc0076, #e44800);
}